*
{
	margin:0% ;
}

*{
 list-style:none;
 font-family: Bodoni MT, Geneva, sans-serif;
}
.headertext
{
	color:black;  
	text-decoration:none;
}

.headertext:hover
{
	color:#A62428;
}
.main
{	height:100%;
	width:100%;
	background:gainsboro;
}

.toplink
{
	width:100%;
	height:2%;
	background:black;
}

.header
{
	width:100%;
	height:25%;
	background:gainsboro;
	display:flex;
}


.imgdesign
{   
    width:39%;
	height:4%;
	margin-left:15%;
	margin-top:4%;
}

.linkhyper
{   Width:40%;
    height:4%;
	margin-left:-10.5%;
	margin-top:6%;
	font-size:.88em;
}


.content
{
	
	width:100%;
	background:gainsboro;
	font-family: Verdana, Geneva, sans-serif;
}

.midcontent
{
	width:70%;
	
	background:#EEEEEE;
	
	display:flex;
	margin-left:15%;
}

.topcontent
{    
    
	width:100%;
	background:#EEEEEE;
	margin-left:2%;
	margin-right:2%;
	font-family: Bookman Old Style, Helvetica, sans-serif;
	font-size: 1em;
	
	border-bottom:1px solid black;
	}

.bottomcontent
{   width:44%;
    margin-left:2%;
	margin-right:2%;
	background:#EEEEEE;
	color:#A62428;
	border-bottom:.09px solid black;
	border-style: solid;
    border: 2px;
}


.imgsize
{
	
	margin-top:2%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em; 
	line-height: 1em;
}

.display
{
	display:flex;
}

     

.rightdivisionBolg
	{
	
	width:100%;
	float:left;
	color:#606060;
    font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	margin:10px 1px 5px 5px;
    padding: 15px 1px 5px 1px;
	line-height: 1.6em;
	}
.maincontentRightDivisionContact
	{
    
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	float:left;
	padding: 1px 1px 1px 1px;
	
	}
	.ttopcontent
	{
	
	
	width:80%;
	float:left;
	color:#A62428;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 50px 1px 4px 25px;
	
	
	}
	.footer
	{
	 height:3%;
	 width:70%;
	 margin-left:14%;
	 
	}
	.fieldsetContact
{
	
    display: block;
	height :40%;
	width:80%;
	float:left;
	color:#606060;;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 20px 1px 10px 50px;
    border: 1px #E5E5E5 solid;
	font-size: 0.8em;
	

}
.tableContact
{
	
    width: 100%; 
	line-height: 2.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12.5px;
	text-align:right;
}
